body {
  /*background-color: lightgrey*/
}

.renoimg {
  padding: 1px;
  background-color: yellow;

}

img {
  height: 35%;
  min-height: 150px;
  max-width: 200px;
}
.adopt {
  float: left;
  font-family: sans-serif;
  text-align: center;
  width: 24%
}

.pet-name{
  font-size: 28px;
  font-weight: 900;
}
/*.pcolumn {
  width: 24%
  float: left;
  /*height: 250px;*/
  /*width: 500px;*/
  /*margin-right: 500px;*/
  /*background-color: black;
}*/

.bird {
  background-color: red;
  border: black 2px solid;

}

.cat {
  background-color: yellow;
  border: black 2px solid;

}

.dog {
  background-color: blue;
  border: black 2px solid;

}

.fish {
  background-color: green;
  border: black 2px solid;

}

h1 {
  font-family: cursive;
  font-weight: bold;
  font-size: 80px;
  text-align: center;
  color: cyan;
}
